
h1{
    color:antiquewhite;
    text-align: center;
    text-decoration:overline;
    /* border */ 
    border-style:solid;
    border-radius: 0.2cm;
    border-width: 3px;
    border-color: rgba(58, 112, 124, 0.377);

    /* margin */ 
    margin: auto
    /* Short padding */ 
    padding: 25px 50px 75px;
    font-family: 'Yeseva One', regular;
    /* First absolute unit */ 
    font-size:0.8in;
    color: white;
    
    


}

p{
    
    margin-top: 30px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px;
    /* Turned paragraph text into plain */ 
    font-family: 'Roboto', sans-serif;
    color: rgba(18, 18, 19, 0.705);
    /* Third absolute unit */ 
    font-size: 20px;
    font-weight:300px;
    /* Relative unit 3 */ 
    min-height: 100lh;
    height: 100lh;
    /* Relative unit 2 */ 
    min-width: 40vw;
    width: 40vw;
    
}

h2{
    color: antiquewhite;
    padding-top: ;
    padding-bottom: ;
    padding-right: ;
    padding-left: ;
    /* long margin */ 
    margin-top: 1px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left:10px;

    font-family: 'Yeseva One', regular;
    /* Second absolute unit */ 
    font-size: 1.05cm;
    color:hsl(#FFFFFF,#FFFFFF,#FFFFFF);

}
h3{

    /* Short margin */ 
    margin: 10px 10px 30px 10px;
    font-family: 'Yeseva One', regular;
    /* Relative unit 1 */
    font-size: 4vh;
    color:antiquewhite;
}

ul{

    color:rgb(29, 27, 27);
}
body{

    background-color:rgba(81, 124, 134, 0.377);
}

