header{
    display: flex;
}


h1{

    text-align: center;
    margin-top: 30px;
    margin-bottom:10px;
    margin-right:70px;
    margin-left:600px;
    /* border */ 
    border-style:solid;
    border-radius: 0.2cm;
    border-width: 3px;
    border-color: rgba(58, 112, 124, 0.377);

    /* margin */ 
    margin: auto
    /* Short padding */ 
    padding: 25px 50px 75px;
    
    /* First absolute unit */ 
    font-size:0.8in;
    color: white;
    display: inline-block;

}

#github{

    color:rgb(58, 112, 124);
    text-align:center;
    margin-right:7in;
    margin-left: 9.5in;
    background-color: lightblue;
}

/* Id Selector */ 
#week{

    text-align:center;
    margin-left:1.8cm;
}

#papajohns{

    font-size: 20px;
    font-family: 'Roboto Mono', monospace;;
}


/* Pseudo-class selector */ 
a:hover{

    color:antiquewhite;

}

a:active{

    color:antiquewhite;

}

a{
    color:rgb(58, 112, 124);
    font-size: 30px;
    text-align: center;
    font-family: 'Yeseva One', regular;
    margin-bottom: 100px;
    
}
p{
    /* Turned paragraph text into plain */ 
    
    margin-top: 10px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left:10px;
    /* Turned paragraph text into plain */ 
    font-family: 'Roboto Mono', monospace;
    color: rgba(18, 18, 19, 0.705);
    /* Third absolute unit */ 
    font-size: 20px;
    font-weight:300px;
    /* Relative unit 3 */ 
    min-height: 100lh;
    height: 100lh;
    /* Relative unit 2 */ 
    min-width: 40vw;
    width: 40vw;
    
}

h2{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
    /* long margin */ 
    margin:auto

    
    /* Second absolute unit */ 
    font-size: 1.05cm;
    color:hsl(#FFFFFF,#FFFFFF,#FFFFFF);
    text-decoration: solid;

}

/* Class selector */ 
.intro{

    color:black;

}

/* Universal selector */ 
*.intro{

    color:black;
}

/* Selector list */ 
h1,h2,h3{

    color: antiquewhite;
    font-family: 'Vollkorn', serif;

}

/* Element selector */ 
h3{

    /* Short margin */ 
    margin: 10px 10px 30px 10px;
    /* Relative unit 1 */
    font-size: 4vh;
    display: block;
}

/* Attriute selector */ 
[class|="date"]{

    color:rgb(151, 151, 226);
}

/* Descendant Combinator */ 
ul li {

    
    list-style-type: circle;
}

/* Child Combinator */ 
ul > li{

    font-family: 'Roboto' sans-serif;
    
}

/* Combining two selectors */ 
h1.intro{

    size: 100px; 

}

/* Adjacent sibling combinator */ 
h1 + p{

    font-family: "Yeseva One", regular;
}

/* Selector list */ 
ul,ol{

    
    display: block;
    color:rgb(29, 27, 27);
    
}

form, details{

    font-family: 'Roboto', sans-serif;
}
/* Set background color */ 
body{

    background-color:rgba(81, 124, 134, 0.377);
}

/* General sibling combinator */ 
h1 ~ p {

    text-align: left;
}